#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 128px;
  width: 128px;
  border-radius: 16px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em olive);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border: 1px dashed darkgreen;
  padding: 16px;
}
ul {
  list-style: number;
}
ul li {
  text-align: start;
}