#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  /* background: linear-gradient(135deg, #f0f0f0, #d2d2c0, #b0b19c); */
    background-image: 
    linear-gradient(135deg, #f0f0f0, #d2d2c0, #b0b19c),
    url('assets/images/asfalt-light.png');
    background-blend-mode: overlay;
    background-size: cover; 
    color: #000;   
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;  
  padding: 16px;
  position: relative;
  min-width: 400px;
}

.logo {
  height: 128px;
  width: 128px;
  border-radius: 16px;
  transition: filter 333ms;
}
.logo:hover {
  filter: drop-shadow(0 0 3em olive);
}

p.tagline {
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: olive;
}

.input-task-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  z-index: 2;
  width: 100%;  
}
form {
  gap: 4px;
  display: flex;
  align-items: center;
}
form input {
  height: 24px;
}
form button {
  height: 32px;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}
.task-list .item {
  width: 100%;
  text-align: start;
  border: 1px solid #2f2f2f;
  background-color: darkgray;
  padding: 12px;  
  display: flex;
  justify-content: space-between;
  transition: font-weight 100ms ease-in;
  transition: transform 333ms;
  animation: 0.5s linear 1s infinite alternate slide-in;
  &:hover {
    font-weight: 700;
    transform: scale(1.05);
    /* .btn-wrapper {
      display: flex;
    } */
  }
}
.task-list .item.animate {
  opacity: 0;
  animation-name: enterAnimation;
  animation-duration: 333ms;
  animation-iteration-count: 1; /* Play only once */
  animation-fill-mode: forwards; /* Retain final state */
  animation-delay: 0ms;
  animation-timing-function: ease-out;
}
@keyframes enterAnimation {
  from {
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.task-list .item.done span {
  text-decoration: line-through;
  opacity: 0.3; 
}
.task-list .item .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.task-list .item input {
  width: 100%;
}
span.task-count {
  margin-top: 12px;
  &.alldone {
    color: green;
    font-weight: 700;
  }
}

button.BFG {
  background-color: crimson;
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
}
p.calm {
  color: black;
  background-color: skyblue;
  padding: 12px;
  border-radius: 12px;
  opacity: 0;
  animation: 0.5s linear 1s infinite alternate slide-in;
  &.animate {
    animation-name: enterAnimation;
    animation-duration: 333ms;
    animation-iteration-count: 1; /* Play only once */
    animation-fill-mode: forwards; /* Retain final state */
    animation-delay: 0ms;
    animation-timing-function: ease-out;
  }
}
.task-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.action {
  transition: all 1200ms;
  &:hover {
    transform: rotate(360deg);
  }
}

.clear-done-btn {
  color: white;
  background-color: green;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.filter-wrapper .filter-item {  
  border: 0.5px dashed black;
  padding: 4px 8px;
}